body {
margin:0;
box-sizing: border-box;
display:grid;
grid-template-columns: 1fr 2fr 1fr;
}
header {
    grid-column: span 3;
    background-color: rgba(0, 102, 102, 0.8);
}
header h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
    font-size:40px;
    padding: 20px 40px 20px;
    color:white;
    text-shadow: 3px 1px black;
    margin: 0 auto;
}
nav {
    grid-column:1;

 a {
    display:block;
    text-decoration:none;
    background-color: lightseagreen;
    padding:15px;
    margin:20px
}
 a:hover {
    background-color: rgb(24, 126, 121);
}
 a div {
    font-size:20px;
    font-weight:bold;
    color:black;
}
}
article {
    grid-column:2/3;

section {
    margin: 0 auto;
    padding: 20px;
}
 section h2 {
    padding:20px 10px 20px 40px;
    font-weight:bold;
    font-size:40px;
}
}
footer {
    grid-column: span 3;
    background-color:rgba(0, 102, 102, 0.8);
}
aside {
    overflow: scroll;
    grid-column:3;
    background-color:lightseagreen;
    margin:20px;

 section h3 {
    text-align:center;
    color:white;
    font-size:25px;
}
 section {
    padding: 20px;
    margin: 0 auto;
}
}
::-webkit-scrollbar {
    width:10px;
}
::-webkit-scrollbar-thumb {
    background-color:lightseagreen;
}
@media only screen and (max-width:768px) {
    nav a:nth-child(n+2) {
        display:none;
    }
    nav ul:hover > a:nth-child(n+2) {
        display:block;
    }
    body{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    header {
        grid-column:1;
        grid-row:1;
    }
    nav {
        grid-column:1;
        grid-row:2;
    }
    article {
        grid-column:1;
        grid-row:3;
    }
    aside {
        grid-column:1;
        grid-row:4;
    }
    footer{
        grid-column:1;
        grid-row:5;
    }
}
@media only screen and (max-width:600px) {
    body{
        grid-template-columns:1fr;
        grid-template-rows:auto;
    }
    header{
        grid-column:1;
        grid-row:1;
    }
    nav{
        grid-column:1;
        grid-row:4;
    }
    article{
        grid-column:1;
        grid-row:3;
    }
    aside{
        grid-column:1;
        grid-row:2;
    }
    footer{
        grid-column:1;
        grid-row:5;
    }
}