body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
}

header {
  grid-column: span 3;
  background-color: rgba(0, 102, 102, 0.8);
}

header h1 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 40px;
  padding: 20px 40px 20px;
  color: white;
  text-shadow: 3px 1px black;
  margin: 0 auto;
}

nav {
  -ms-grid-column: 1;
  grid-column: 1;
}

nav a {
  display: block;
  text-decoration: none;
  background-color: lightseagreen;
  padding: 15px;
  margin: 20px;
}

nav a:hover {
  background-color: #187e79;
}

nav a div {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

article {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

article section {
  margin: 0 auto;
  padding: 20px;
}

article section h2 {
  padding: 20px 10px 20px 40px;
  font-weight: bold;
  font-size: 40px;
}

footer {
  grid-column: span 3;
  background-color: rgba(0, 102, 102, 0.8);
}

aside {
  overflow: scroll;
  -ms-grid-column: 3;
  grid-column: 3;
  background-color: lightseagreen;
  margin: 20px;
}

aside section h3 {
  text-align: center;
  color: white;
  font-size: 25px;
}

aside section {
  padding: 20px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: lightseagreen;
}

@media only screen and (max-width: 768px) {
  nav a:nth-child(n+2) {
    display: none;
  }
  nav ul:hover > a:nth-child(n+2) {
    display: block;
  }
  body {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  header {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  nav {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  article {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  aside {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  footer {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 5;
    grid-row: 5;
  }
}

@media only screen and (max-width: 600px) {
  body {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  header {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  nav {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  article {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  aside {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  footer {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 5;
    grid-row: 5;
  }
}
/*# sourceMappingURL=main.css.map */