* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 1170px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  color: #000000;
  font-family: 'Lato', sans-serif;
}

.links1 {
  text-decoration: none;
  color: black;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(50px, auto);
}

.first-header-column {
  padding: 5px;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  display: -ms-inline-grid;
  display: inline-grid;
  row-gap: 15px;
}

.langue-picker {
  font-size: 15px;
  padding: 2px;
}

.langue-picker .icon {
  font-size: 10px;
  padding: 5px;
}

.search-box {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  color: black;
  background-color: white;
  border: 0;
}

.search-border {
  border: none;
  border-bottom: 1px solid #cccccc;
  outline: none;
}

.second-header-column {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5 / 9;
  display: -ms-inline-grid;
  display: inline-grid;
  row-gap: 15px;
  padding: 5px;
}

.second-header-column .compare {
  font-size: 14px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.second-header-column .compare .text {
  font-weight: 200;
  font-size: 15px;
}

.second-header-column .title-header {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: center;
      justify-self: center;
}

.second-header-column .title-header h1 {
  margin-bottom: 0;
  font-weight: 900;
  font-size: 40px;
}

.third-header-column {
  padding: 10px;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9 / 13;
  display: -ms-inline-grid;
  display: inline-grid;
  row-gap: 15px;
}

.third-header-column .social-media {
  font-size: 25px;
  -ms-grid-column-align: end;
      justify-self: end;
}

.third-header-column .social-media i {
  margin: 5px;
}

.third-header-column .shop-list {
  font-size: 25px;
  -ms-grid-column-align: end;
      justify-self: end;
}

.third-header-column .shop-list span {
  font-size: 15px;
  color: #999999;
}

.line {
  border: none;
  border-bottom: 1px solid #cccccc;
  height: 30px;
}

nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  padding: 1em 15em 1em 15em;
}

nav div {
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 18px;
}

nav div a {
  text-decoration: none;
  color: black;
}

nav div i {
  font-size: 12px;
  padding: 5px;
}

main .one {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(50px, auto);
}

main .slider {
  background-image: url("http://images1.fanpop.com/images/photos/2600000/HQ-France-wallpapers-france-2626802-1600-1200.jpg");
  background-size: 870px 576px;
  background-repeat: no-repeat;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -ms-grid-row: 1;
  grid-row: 1;
  height: 576px;
  width: 870px;
}

main .side-section {
  background-image: url("http://images1.fanpop.com/images/photos/2600000/HQ-France-wallpapers-france-2627154-1600-1200.jpg");
  background-size: 270px 328px;
  background-repeat: no-repeat;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9/13;
  -ms-grid-row: 1;
  grid-row: 1;
  height: 328px;
  width: 270px;
  -ms-grid-column-align: end;
      justify-self: end;
}

main .banner {
  background-color: #333333;
  height: 218px;
  width: 270px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9/13;
  -ms-grid-row: 1;
  grid-row: 1;
}

main .header {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  -ms-grid-column-align: center;
      justify-self: center;
}

main .header2 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 7;
  grid-column: 6/13;
  -ms-grid-column-align: center;
      justify-self: center;
}

main .header3 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 6;
  -ms-grid-column-span: 7;
  grid-column: 6/13;
  -ms-grid-column-align: center;
      justify-self: center;
}

main .collection {
  background-color: #cccccc;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  height: 672px;
  width: 470px;
}

main .trend {
  background-color: #cccccc;
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7/13;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  height: 246px;
  width: 670px;
  -ms-grid-column-align: end;
      justify-self: end;
}

main .shoes {
  background-color: #cccccc;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7/13;
  height: 352px;
  width: 670px;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

main .blog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

main .blog .headerBlog {
  -ms-grid-row: 1;
  grid-row: 1;
  grid-column: span 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

main .blog .block1 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  background-color: #cccccc;
  width: 370px;
  height: 225px;
  -ms-grid-column-align: start;
      justify-self: start;
}

main .blog .block2 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
  background-color: #cccccc;
  width: 370px;
  height: 225px;
  -ms-grid-column-align: center;
      justify-self: center;
}

main .blog .block3 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 3;
  grid-column: 3;
  background-color: #cccccc;
  width: 370px;
  height: 225px;
  -ms-grid-column-align: end;
      justify-self: end;
}

.form {
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
}

.form h3 {
  color: #cccccc;
  font-size: 13px;
}

.form h1 {
  text-transform: uppercase;
}

.form .subscribe {
  display: -ms-inline-grid;
  display: inline-grid;
  width: 570px;
  height: 48px;
  padding: 5px;
  padding-left: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #cccccc;
}

.form .subscribe .email {
  border: none;
  -ms-grid-column: 1;
  grid-column: 1;
  font-size: 15px;
  width: 420px;
  outline: none;
}

.form .subscribe .send {
  -ms-grid-column: 2;
  grid-column: 2;
  background-color: #333333;
  color: white;
  border: none;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  justify-items: center;
  text-align: center;
}

footer div {
  padding: 0px 10px 0px 10px;
  line-height: 30px;
}

footer div span, footer div li {
  color: #999999;
}

footer div h2, footer div h3 {
  text-transform: uppercase;
  font-weight: bold;
}

li a {
  text-decoration: none;
  color: #999999;
}

li a:hover {
  color: black;
  font-weight: bold;
}

.copyrights {
  text-align: center;
  margin: 5px;
  padding: 8px;
}

@media only screen and (max-width: 768px) {
  body {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .first-header-column {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .second-header-column {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .third-header-column {
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
  }
}
/*# sourceMappingURL=psd-to-html.css.map */