* {
    box-sizing: border-box;  
}
body {
    width: 1170px;
    margin: auto;
    display: grid;  
    color: #000000;
    font-family: 'Lato', sans-serif;
    
}
.links1 {
    text-decoration: none;
    color: black;
}
header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(50px, auto);
}
.first-header-column{
    padding: 5px;
    grid-row: 1;
    grid-column: 1 / 5;
    display: inline-grid;
    row-gap: 15px;
    }
    .langue-picker{
        font-size: 15px;
        padding: 2px;
       
        .icon{
        font-size:10px;
        padding: 5px;
        } 
    }
    .search-box {
        align-self: end;
        color: black;
        background-color: white;
        border: 0;
        
    }
    .search-border{
        border: none;
        border-bottom: 1px solid #cccccc;
        outline: none;
    }
.second-header-column{
    grid-row: 1;
    grid-column: 5 / 9;
    display: inline-grid;
    row-gap: 15px;
 
    padding: 5px;
    .compare{
        font-size: 14px;
        justify-self: center;
        .text{
            font-weight: 200;
            font-size: 15px;
        }
    }
    .title-header {
        align-self: end;
        justify-self: center;
        
        
    }
    .title-header h1{
      margin-bottom: 0;
      font-weight: 900;
      font-size: 40px;
    }
}
.third-header-column{
    padding: 10px;
    grid-row: 1;
    grid-column: 9 / 13;
    display: inline-grid;
    row-gap: 15px;

    .social-media {
        font-size: 25px;
        justify-self: end;
        i {
            margin: 5px;
        }
    }
    .shop-list{
        font-size: 25px;
        justify-self: end;
        span {
            font-size: 15px;
            color: #999999;
        }
    }
    
}
.line{
    border: none;
    border-bottom: 1px solid #cccccc;
    height: 30px;
}
nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    padding: 1em 15em 1em 15em;
    div {
        justify-self: center;
       font-size: 18px;
        a {
        text-decoration: none;
        color: black;
        }
        i {
            font-size: 12px;
            padding: 5px;
        }
}
}
main {
    .one {
    display: inline-grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(50px, auto);
    }
    .slider{
        background-image: url("http://images1.fanpop.com/images/photos/2600000/HQ-France-wallpapers-france-2626802-1600-1200.jpg");
        background-size: 870px 576px;
        background-repeat: no-repeat;
        grid-column: 1/9;
        grid-row: 1;
        height: 576px;
        width: 870px;
    }
    .side-section{
        background-image: url("http://images1.fanpop.com/images/photos/2600000/HQ-France-wallpapers-france-2627154-1600-1200.jpg");
        background-size: 270px 328px;
        background-repeat: no-repeat;
        grid-column: 9/13;
        grid-row: 1;
        height: 328px;
        width: 270px;
        justify-self: end;
    }
    .banner{
        background-color: #333333;
        height: 218px;
        width: 270px;
        align-self: end;
        justify-self: end;
        grid-column: 9/13;
        grid-row: 1; 
    }
    .header{
        grid-row:1;
        grid-column: 1/6;
        justify-self:center;
    }
    .header2{
        grid-row:1;
        grid-column: 6/13;
        justify-self:center;
    }
    .header3{
        grid-row:3;
        grid-column:6/13;
        justify-self: center;
    }
    .collection{
        background-color: #cccccc;
        grid-column: 1/5;
        grid-row:2/5;
        height:672px;
        width:470px;
    }
    .trend{
        background-color: #cccccc;
        grid-column: 7/13;
        grid-row:2/3;
        height:246px;
        width: 670px;
        justify-self: end;
    }
    .shoes{
        background-color: #cccccc;
        grid-row:4/5;
        grid-column:7/13;
        height:352px;
        width:670px;
        justify-self: end;
        align-self:end;
    }
    
    .blog{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .headerBlog{
            grid-row: 1;
            grid-column: span 3;
            align-self: center;
            justify-self: center;
        }
        .block1{
            grid-row: 2;
            grid-column: 1;
            background-color: #cccccc;
            width: 370px;
            height: 225px;
            justify-self: start;
        }
        .block2{
            grid-row: 2;
            grid-column: 2;
            background-color: #cccccc;
            width: 370px;
            height: 225px;
            justify-self: center;
        }
        .block3{
            grid-row: 2;
            grid-column: 3;
            background-color: #cccccc;
            width: 370px;
            height: 225px;
            justify-self: end;
        }
    }
}
.form{
    justify-self: center;
    text-align: center;
    h3{
      color: #cccccc;
      font-size: 13px;   
    }
    h1{
        text-transform: uppercase;
    }
    .subscribe{
        display: inline-grid;
        width: 570px;
        height: 48px;
        padding: 5px;
        padding-left: 30px;
        justify-content: space-between;
        border: 1px solid #cccccc;
        .email{
            border: none;
            grid-column: 1;
            font-size: 15px;
            width: 420px;
            outline: none;
        }
        .send{
            grid-column: 2;
            background-color: #333333;
            color: white;
            border: none;
        }
        
    }
}
footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    text-align: center;
    div {
        padding: 0px 10px 0px 10px;
        line-height: 30px;
        span, li {
            color: #999999;
        }
        h2, h3{
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}
li a {
    text-decoration: none;
    color: #999999;
}
li a:hover {
    color: black;
    font-weight: bold;
}
.copyrights{
    text-align: center;
    margin: 5px;
    padding: 8px;
}
@media only screen and (max-width:768px) {
    body {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    header {
        display: grid;  
        grid-row:1;
        grid-column: 1;
    }
    .first-header-column {
        grid-row:1;
        grid-column: 1;
    }
    .second-header-column {
        grid-row:1;
        grid-column: 1;
    }
    .third-header-column {
        justify-self: end;
        grid-row:1;
        grid-column: 1;
    }
}

    

