body, html {
    height: 100vh;
    width: 100vw;
    margin: 0;
}
.bgImage {
   background-image: url("https://dzbc.org/wp-content/uploads/data/2018/2/23/Low-Poly-Wallpaper-x-WC-x-PIC-MCH083667-1024x576.jpg");
    /* Blankumo efektas*/
    filter: blur(2px);
    -webkit-filter: blur(2px);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.formPosision {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.formContainer {
    border: none;
    padding: 20px 40px;
    background-color: burlywood;
    border-radius: 20px;
    text-align: center;
    opacity: 0.3;
    margin: 20px 200px 10px 200px;

}
.formContainer:hover {
    opacity: 1;
}
.email {
  background-color: white;
  color: black;
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid grey;
}
.submit:hover {
  background-color: rgb(235, 229, 229);
  color: black;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}
h3 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: burlywood;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 70px;
  text-transform: uppercase;
  color: white;
  text-shadow: 10px 10px 7px black;
  text-align: center;
}