* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
/* HEADER---------------------- */
header {
    display: flex;
    height: 7em;
    background-color: rgb(185, 179, 179);
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;

    border: 1px solid red;
}
/* FOOTER ---------------------- */
footer {
    display: flex;
    height: 2em;
    justify-content: center;
    align-items: center;
    background-color: grey;

    border: 1px solid red;
}
footer a {
    text-align: center;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
}
/* NAVIGATION ----------------- */
nav {
    display: flex;
    height: 3em;
    background-color: rgb(88, 86, 86);
    

    border: 1px solid red;
}
nav a {
    text-align: center;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
}
nav a:hover {
    background-color: grey;
}
/* MAIN SECTION POSITIONING AND STUFF -------------------------- */
/* ----------Main body divides to colums---------- */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 100px 0px 100px;
    margin: 10px;
}
main article section {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 20px;
    margin: 10px;
    flex:70%;

    border: 1px solid red;
}
main article section h1 {
    font-weight: bold;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

main aside section {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    padding: 5px;
    margin: 10px;
    flex:30%;

    border: 1px solid red;
}


/* ------------ main body content -------------------- */
.main {
    flex: 70%;
    padding: 20px;

    border: 1px solid red;
}
.main div {
    border: 1px solid red;
    padding: 20px;
    margin: 5px;
}
.side {
    flex: 30%;
    padding:20px;

    border: 1px solid red;
}
.side div {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px;

    border: 1px solid red;
}





/*
inline-flex (eiluteje vienoje blokai)

*/

