* {
    box-sizing: border-box;
    font-family: 'Pacifico', cursive;
}
header {
    width: 100%;
    border: 2px solid pink;
    padding: 10px 0;
    //position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    .logo {
        margin: 0 30px;
        width: 110px;
        height: 110px; 
    } 
    nav {
        display: flex;
        align-items: center;
        ul {
            list-style-type: none;
            margin: 0 30px;
            padding: 0;
            a {
                text-decoration: none;
                color: black;
                :hover {
                    color: pink;
                }
                li {
                    margin: 0 10px;
                    font-size: 30px;
                    margin: 0 20px;
                    display: inline;
            }
            }
        }
    }
}
.line {
    margin: 30px 0;
    width: 100%;
    border-bottom: 1px solid pink;
}
main {
    .sectionOne {
        .relative {
        position: relative;
        }
        img {
            width: 100%;
            height: 100%;
            filter: blur(4px);
        }
        .overlay{
            background-color: white;
            position: absolute;
            width: 50%;
            height: 50%;
            //z-index: 2;
            top:25%;
            left:25%;
            opacity: 0.7;
            text-align: center;
            span {
                h1 {
                    font-size: 35px;
                }
            }
        } 
    }
    .options {
        display: flex;
        justify-content: center;
        align-items: center;
        ul {
            margin: 0;
            list-style-type: none;
            :hover {
                cursor: pointer;
                background-color: pink;
            }
            button {
                border: none;
                background: none;
                text-decoration: none;
                color: black;
                li {
                    border-radius: 5px;
                    padding: 5px 20px;
                    font-size: 25px;
                    display: inline;
                    background-image: linear-gradient(-45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.5) 51%);
                }
            }
            .selected {
                background-color: pink;
            }
        }
    }
    .gallery {
        margin: 0 14%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        img {
            margin: 20px 0;
            width: 400px;
            height: 360px;
        }
        .filterDiv {
            display: none;
        }
        .show {
            display: block;
        }
        
    }
}
.sectionThree {
    .susisiekite{
        align-content: center;
        text-align: center;
        font-size: 25px;
    }
    .forma {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        margin: 0% 26%;
        grid-gap: 15px;
    textarea{
        grid-column: span 2;
        resize: none;
        padding: 10px;
        padding-left: 15px;
        font-size: 25px;
    }
    input {
        font-size: 20px;
        padding: 10px;
        padding-left: 15px;
    }    
    }
    .submit {
        grid-column: 2;
        background-color: pink;
        border: none;
        cursor: pointer;
    }
}
.toTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: pink;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    i {
        font-size: 30px;
    }
}
