* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Pacifico', cursive;
}

header {
  width: 100%;
  border: 2px solid pink;
  padding: 10px 0;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}

header .logo {
  margin: 0 30px;
  width: 110px;
  height: 110px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul {
  list-style-type: none;
  margin: 0 30px;
  padding: 0;
}

header nav ul a {
  text-decoration: none;
  color: black;
}

header nav ul a :hover {
  color: pink;
}

header nav ul a li {
  margin: 0 10px;
  font-size: 30px;
  margin: 0 20px;
  display: inline;
}

.line {
  margin: 30px 0;
  width: 100%;
  border-bottom: 1px solid pink;
}

main .sectionOne .relative {
  position: relative;
}

main .sectionOne img {
  width: 100%;
  height: 100%;
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

main .sectionOne .overlay {
  background-color: white;
  position: absolute;
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
  opacity: 0.7;
  text-align: center;
}

main .sectionOne .overlay span h1 {
  font-size: 35px;
}

main .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .options ul {
  margin: 0;
  list-style-type: none;
}

main .options ul :hover {
  cursor: pointer;
  background-color: pink;
}

main .options ul button {
  border: none;
  background: none;
  text-decoration: none;
  color: black;
}

main .options ul button li {
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 25px;
  display: inline;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.5) 51%);
}

main .options ul .selected {
  background-color: pink;
}

main .gallery {
  margin: 0 14%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .gallery img {
  margin: 20px 0;
  width: 400px;
  height: 360px;
}

main .gallery .filterDiv {
  display: none;
}

main .gallery .show {
  display: block;
}

.sectionThree .susisiekite {
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  font-size: 25px;
}

.sectionThree .forma {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  margin: 0% 26%;
  grid-gap: 15px;
}

.sectionThree .forma textarea {
  grid-column: span 2;
  resize: none;
  padding: 10px;
  padding-left: 15px;
  font-size: 25px;
}

.sectionThree .forma input {
  font-size: 20px;
  padding: 10px;
  padding-left: 15px;
}

.sectionThree .submit {
  -ms-grid-column: 2;
  grid-column: 2;
  background-color: pink;
  border: none;
  cursor: pointer;
}

.toTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: pink;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

.toTop i {
  font-size: 30px;
}
/*# sourceMappingURL=style.css.map */