:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (max-width: 768px) {
  footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  }
  footer p {
  margin-bottom: .25rem;
  }
  .col-md-4 {
    flex: 8.33%;
    

  }
}