.container {
    background-color: lightblue;
    margin: 0;
    width: 100vw;
    height: 62.5vh;
}
.block {
    width: 25vw;
    height: 25vh;
    margin-top: 10px;
}
.stroked {
    stroke: black;
    stroke-width: 10;
    margin-top: 10px;
}
.border {
    border: 5px solid black;
}
.rectangle {
    width: 60vw;
    height: 25vh;
    margin-top: 10px;
}
.purple {
    background-color:purple;
}
.purple:hover {
    background-color: burlywood;
}
.red {
    background-color: red;
}
.red:hover {
    background-color: black;
}
.blue {
    background-color: blue;
}
.blue:hover {
    background-color: green;
}
.yellow {
    background-color: yellow;
}
.yellow:hover {
    background-color: grey;
}
