* {
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: auto;
}
.content{
    text-align: center;
}
.toDo {
    text-align: center;
    border: 1px solid green;
    margin: 0 auto;
}
.newTask {
    border: 1px solid rgb(214, 214, 214);
    padding: 10px;
    font-size:20px;
    margin:0;
}
.create {
    padding:10px;
    font-size: 20px;
    border: 1px solid rgb(214, 214, 214);
    color: white;
    font-weight: 700;
}
.noTask {

}
.listBlock {

}
.list {

}