.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img {
    height: 30px;
    width: 50px;
}
.buy {
    background-color: #b3e6b3;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    border: 1px solid grey;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 3px 3px 3px burlywood;
}
.buy:hover {
    background-color: #55af55;
}
.name {
    text-align: center;
    background-color: #b3e6b3;
    font-weight: bold;
}