* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.formId {
    align-self: center;
    justify-self: center;
    margin: 5px;
    font-size: 20px;
    padding: 5px;
}
.submit {
    font-size: 15px;
}
.kvadratas{
    align-self: center;
    justify-self: center;
}
