.lenta {
    border: 1px solid black;
    width: 540px;
    height: 540px;
}
.langeliai {
    width: 10%;
    height: 10%;
    display: table-cell;
    text-align: center;
    float: left;
    font-size: 50px;
    
}
.black {
    background-color: #666666;
}
.white {
    background-color: #f2f2f2;
}
.skaiciai {
    background-color: burlywood;
}
.raides {
    background-color: burlywood;
}
.lenta .skaiciai:nth-child(2n) {
    transform: rotate(180deg);
}
.lenta .raides:nth-child(n+10) {
    transform: rotate(180deg);
}