*{
    box-sizing: border-box;
    border: 2px solid #fff;
}
html, body {
    height: 100%;
    background-color: #a2a2a2;
}
body {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    background-color: #ffffff;
}
.A,.B,.D,.E,.I{
    height: 2em;
}
.A{
    background-color: #49d04a;
    width: calc(100% - 25%);
}

.B{
    background-color: #49d04a;
    width: 25%;
    clear: both;
}

.C{
    background-color: yellowgreen;
    float: left;
    width: 25%;
    height: calc(100% - 4em);
}

.centerBlock{
    width: calc(100% - 50%);
    height: calc(100% - 4em);
    float: left;
    border: none;
}

.D{
    background-color: cornflowerblue;
    width: 100%;
}

.E{
    background-color: cornflowerblue;
    width: 100%;
}

.G{
    background-color: cornflowerblue;
    width: 100%;
    height: calc(100% - 4em);
}
.F{
    background-color: orangered;
    width: 25%;
    float: left;
    height: 4em;
}
.H{
    background-color: orangered;
    width: 25%;
    height: calc(100% - 8em);
    float: left;
}
.I{
    background-color: deepskyblue;
    display: block;
    clear: both;
}

body {

    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 20% 20% 20% 20% 20% ;
}
.A {
    grid-column: 1/3;
    height: auto;
    width: auto;
}
.B {
    grid-column: 3;
    height: auto;
    width: auto;
}
.C {
    grid-column: 1;
    grid-row: 2/5;
    height: auto;
    width: auto;
}
.centerBlock {
    grid-column: 2/3;
    grid-row: 2/5;
    height: auto;
    width: auto;
}
.F {
    grid-column: 3;
    grid-row: 2/5;
    height: auto;
    width: auto;
}
.I {
    grid-column: span 3;
    height: auto;
    width: auto;
}
.H {
    grid-column: 3;
    grid-row: 3/5;
    height: auto;
    width: auto;
}



