body {
    box-sizing: border-box;
    margin: 0;
}
.container {
    
    background-color:#944e4ed5;
    margin: auto;
    padding: 10px;
    text-align: center;
}
footer p {
    margin: 10px;
    padding: 5px;
    font-size: 15px;
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    color: rgb(46, 36, 25)
}
.links a {
    font-weight: bold;
    text-decoration: none;
    padding: 0px 40px 0px 40px;
    color: white;
    opacity: 0.6;
    border: 1px solid whitesmoke;
    border-radius: 10px 0px 10px 0px;
}
.links a:hover {
    background-color: #aa3333d5;
    opacity: 1;
}
.socialMedia a {
    text-decoration: none;
    margin:0px 20px 0px 20px;
    padding: 0px 20px 0px 20px;
    font-size: 25px;
    opacity: 0.6;
    border-radius: 10px 0px 10px 0px;
}
.socialMedia a:hover {
    transform: scale(1.2);
    opacity: 1;
}
.fa-instagram {
    background: #125688;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}




