* {
    box-sizing: border-box;
}
body {
    height: 100vh;
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-gap: 10px;
    margin: 0 auto;
}
.back-ground{
    background-image: url("https://rvca738f6h5tbwmj3mxylox3-wpengine.netdna-ssl.com/wp-content/uploads/2017/10/GI_501789234_HolidayTravelers.jpg");
    background-size: cover;
    background-position: center;
}
.header {
    background-color: rgba(0, 0, 0, 0.5);
    grid-row: 1;
    grid-column: span 3;
    padding: 20px 40px 20px 40px;
    color: burlywood;
    font-weight: bold;
    font-size: 30px;
}
.header h1 {
    margin: 0;
}
.header a{
    float: right;
    font-size: 30px;
    margin: 0px 5px 0px 5px;  
}
.header a:hover{
    background-color: rgba(211, 198, 198, 0.5);
}
.meniu {
    grid-row:3/4;
    grid-column:1;
    padding: 25px;
}
.links {
    text-decoration-line: none;
}
.meniu-options{
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.5em;
    color: burlywood;
    padding: 0.2em;
    text-align: center;
    border-radius: 20px 0px 20px 0px;
    margin: 10px 0px 10px 0px;
}
.meniu-options:hover {
    background-color: rgba(211, 198, 198, 0.5);
}
.meniu-768 {
    display: none;
}
.main{
    height: 100vh;
    overflow: auto;
    grid-row: 3/4;
    grid-column:2/3;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
}
.right-side-bar{
    grid-row:3/4;
    grid-column:3;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
.right-side-bar h2{
    text-align: center;
    color: burlywood;
}
.right-side-bar hr{
    width: 50%;
}
.right-side-bar p{
    color: rgba(255, 255, 255, 0.658);
    text-align: center;
}
.footer{
    background-color: rgba(0, 0, 0, 0.5);
    grid-row: 4;
    grid-column: span 3;
    padding: 10px;
    text-align: center;
    align-content: center;
    color: burlywood;
}
.article-headers{
    font-size: 35px;
    color: burlywood;
    font-weight: bold;
    padding: 0px 0px 0px 80px;
}
hr {
    width: 90%;
}
section p {
    color: rgba(255, 255, 255, 0.658);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-indent: 80px;
    padding: 0px 15px 0px 15px;
}
.social-media{
   float: right;
   position: relative;
}
.fa {
    padding: 0 auto;
    font-size: 15px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    justify-content: center;
}
.fa:hover {
    background-color: grey;
}
.fa-facebook {
    color: burlywood;
}
.fa-twitter {
    color: burlywood;
}
.fa-linkedin{
    color:burlywood;
}
.fa-instagram{
    color:burlywood;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #555; 
}
::-webkit-scrollbar-thumb {
    background: burlywood; 
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(163, 132, 90); 
}
/*
-------Meniu------
meniu (drop box) ---> hover
*/
@media only screen and (max-width:768px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .header {
        grid-column: 1;
        grid-row:1;
    }
    .meniu{
        grid-column: 1;
        grid-row: 2;
    }
    .main {
        grid-column: 1;
        grid-row: 3;
    }
    .right-side-bar {
        grid-column: 1;
        grid-row: 4;
    }
    .footer{
        grid-column:1;
        grid-row:5;
    }
    .meniu-768 a:nth-child(n+2) {
        display: none;
    }


}
@media only screen and (max-width:500px) {
    .header a{
        display: none;
    }
}