* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.holder {
    display: flex;
    align-content: center;
    align-items: center;
    padding: 40px 15px 0px 15px;

}
.carousel {
    display: flex;
    width: 100vw;
    align-items: center;
    position: relative;
    justify-content: center;
    background-color: rgba(234, 234, 240, 0.774);

}
/* ITEMS -------------- */
.item {
    margin: 15px;
    border: 1px solid whitesmoke;
    width: 350px;
}
.item:hover {
    transform: scale(1.1);
}
.itemtxt{
    padding: 13px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #404040;
    background-color: #cccccc;
    border: 1px solid rgb(212, 209, 209);;
    opacity: 0.9;
}
.itemtxt:nth-child(2n) {
    background-color: #f2f2f2;
}
/* END OF ITMES -------------------- */
.backGround {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVWXKMzPLNFrXx6yR9XKWf2HIA_B11KIeRcDnj6EYG67whi8eS");
    background-position: center;
    height: 180px;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%; 
    padding: 10px;
    z-index: 2;
}
.column {
    display: flex;
    flex-flow: column;
    
    margin: 5px;
}
button {
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 255, 0.5);
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    opacity: 0.5;
}
button:hover {
    opacity: 1;
}
.contact {
    padding: 15px;
    text-align: center;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(181, 181, 201, 0.3);
    z-index: -1;
}

/*  &#x20A4 pound simbol  */
.circle {
    display: flex;
    align-self: flex-end;
    width: 15px;
    height: 15px;
    border: 1px solid white;
    border-radius: 50%;
}
.symbol {
    display: flex;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    font-size: 35px;
    font-weight: bold;
    height: 45px;
    width: 45px;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 60px;
    font-weight: bold;
}
.akcija {
    font-size: 18px;
    text-align: center;
}
