* {
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;    
}
.kvadratas {
    margin: auto;
    display: flex;
    position: relative;
    border: 1px solid red;
    background-color: rgb(216, 193, 193);
    width: calc(100vw - 50%);
    height: 100vh;
}
.R {
    display: block;
    position: absolute;
    width: 60%;
    height: 60%;
    background-color: rgba(255, 0, 0, 0.5); 
    border: 14px solid red;
    border-radius: 50%;
    left:20%;   
}
.G {
    position: absolute;
    display: block;
    width: 60%;
    height: 60%;
    background-color: rgba(0, 128, 0, 0.5);
    border: 14px solid green;
    border-radius: 50%;
    bottom: 0%;
}
.B { 
    display: block; 
    position: absolute;
    width: 60%;
    height: 60%;
    background-color: rgba(0, 0, 255, 0.5);
    border: 14px solid blue;
    border-radius: 50%;
    left: 40%;
    bottom: 0%;
    text-align: center;
}
.text {
    position: absolute;
    font-weight: 900;
    font-size: 50px;
    color: white;
    top: 45%;
    left: 45%;
}