.header {
    border: 1px solid red;
    border-radius: 20px;
    padding: 0;
    width: 100%;
    height: 80px;

}    
.navigation {
    border: 1px solid red;
    border-radius: 20px;
    align-content: center;
    padding: 2px;
    width: 100%;
    height: 30px;
}
main {
    width: 70%;
    float: left;
}
body {
    display: inline-block;
    
}
main article {
    border: 1px solid red;
    border-radius: 20px;
    display: inline-block;
}
main aside {
    border: 1px solid red;
    border-radius: 20px;
    position: static;
    border: 1px black;
    display: inline-block;
    width: 30%;
}
footer {
    border: 1px solid red;
    border-radius: 20px;
    position: relative;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin: 2px 2px 2px 2px;
}    
.headerText {
        position : absolute;
        top : 3%;
        left : 6%;
        color: 	#FAFAD2;
        font-family: 'Times New Roman', Times, serif;
        font-size: 40px;
        text-shadow: 0px 3px 2px  black;
        font-style: normal;

    }
.headerImg {
    position: absolute;
    font-weight: 100;
}
.menuButton {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.button {
    border: 1px grey;
    background-color: white;
    color: black;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
}    
