* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mygtukai {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mygtukai div {
  padding: 25px;
  border: 1px solid green;
}

.orai {
  display: block;
  margin: 0 auto;
  border: 1px solid yellowgreen;
  border-radius: 50%;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
  color: #000;
}
/*# sourceMappingURL=paskaita15.css.map */