* {
    box-sizing: border-box;
}
.mygtukai {
    display: flex;
    justify-content: space-between;

    div {
        padding: 25px;
        border: 1px solid green;
    }
}
.orai {
    display: block;
    margin: 0 auto;
    border: 1px solid yellowgreen;
    border-radius: 50%;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
    color: #000;
}