.features {
  background-color: #f1f2f4;
}

.features .number {
  font-size: 100px;
  color: #cacdd2;
}

.features .ikona {
  border-radius: 50%;
}

.features .title-column {
  color: #746981;
  text-align: right;
}

.features .title-column .title-column h3 {
  font-size: 35px;
}

.features .title-column .title-column h5 {
  font-size: 25px;
}

.icon1 i {
  background-color: #8b709c;
  font-size: 20px;
  color: white;
  padding: 40px;
}

.icon1 .fa-heart {
  background-color: #f33434;
}

.icon1 .fa-gem {
  background-color: orange;
}

.icon2 i {
  border: 1px solid #cacdd2;
  font-size: 20px;
  color: #cacdd2;
  padding: 40px;
}

.col-3 p {
  text-align: left;
  color: #746981;
  font-size: 15px;
}

@media only screen and (max-width: 768px) {
  .icon1 {
    display: none;
  }
  .icon2 i {
    font-size: 30px;
    padding: 5px;
  }
  .features .number {
    font-size: 30px;
    position: absolute;
  }
  .features .title-column {
    text-align: center;
    margin: 0px 0px 20px 0px;
  }
}
/*# sourceMappingURL=ideasEx.css.map */