@media screen and (max-width: 767px){
    .subscription-text h1 span{
        font-size: 0.5em;
    }
}
@media screen and (min-width: 768px){
    .subscription-input{
        width: auto;
        min-width: 320px;
    }
    .subscribe-content {
        margin: auto;
        width: 75%;
        top: 15%;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
@media screen and (min-width: 1024px){
    .subscribe-content {
        width: 65%;
    }
}
@media screen and (min-width: 1440px){
    .subscribe-content {
        width: 50%;
    }
}