* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Montserrat,sans-serif;
}

body {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-auto-rows: auto;
}

body nav {
  display: -ms-inline-grid;
  display: inline-grid;
}

body nav .meniu {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 60px;
  font-size: 20px;
}

body nav .meniu ul a {
  text-decoration: none;
  color: #171717;
  padding: 0px 10px 0px 10px;
}

body nav .icon {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: start;
      justify-self: start;
  margin-left: 60px;
  font-size: 25px;
}

body header .header {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  background-image: url("header-about-me.jpg");
  background-position: center;
  height: 350px;
}

body header .header .text {
  text-align: center;
  color: #fff;
}

body header .header .text h1 {
  margin: 0;
  padding: 40px;
}

body main .projects {
  height: 150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #10c9c3;
  color: #fff;
}

body main .projects div {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  text-align: center;
}

body main .projects div i {
  -ms-grid-column: 1;
  grid-column: 1;
  grid-row: span 2;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 45px;
  padding-right: 10px;
}

body main .projects div h2 {
  margin: 0;
  padding-left: 10px;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

body main .projects div h3 {
  margin: 0;
  padding-left: 10px;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}
/*# sourceMappingURL=uzduotis.css.map */