* {
    box-sizing: border-box;
    font-family: Montserrat,sans-serif;
}
body {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    nav{ 
        display: inline-grid;
        .meniu{
            grid-row: 1;
            grid-column: 1;
            align-self: center;
            justify-self: end;
            margin-right: 60px;
            font-size: 20px;
            ul {
                a {
                    text-decoration: none;
                    color: #171717;
                    padding: 0px 10px 0px 10px;
                }
            }
        }
        .icon{
            grid-row: 1;
            grid-column: 1;
            align-self: center;
            justify-self: start;
            margin-left: 60px;
            font-size: 25px;

        }
    }
    header{
        .header{
            grid-row: 2;
            grid-column: 1;
            background-image: url("header-about-me.jpg");
            background-position: center;
            height: 350px;
                       
            .text{
                text-align: center;
                color: #fff;
                h1 {
                    margin: 0;
                    padding: 40px;
                }
            }
        }
        
    }
    main {
        .projects{
            height: 150px;
            display: grid;
            grid-row:3;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            background-color: #10c9c3;
            color: #fff;
            
            div {
                display: inline-grid;
                grid-template-columns: 1fr 1fr;
                text-align: center;
                i{
                    grid-column: 1;
                    grid-row: span 2;
                    justify-self: end;
                    align-self:center;
                    font-size: 45px;
                    padding-right: 10px;
                }
                h2{
                    margin: 0;
                    padding-left: 10px;
                    justify-self: start;
                    align-self: end;
                }
                h3{
                    margin: 0;
                    padding-left: 10px;
                    justify-self: start;
                    align-self: start; 
                }
            }
        }
    }
}
